* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#window,
#workspaces,
#idle_inhibitor,
#pulseaudio,
#battery,
#bluetooth,
#network,
#custom-power_profile,
#cpu,
#memory,
#temperature,
#keyboard-state,
#clock,
#tray,
#custom-power,

#wlr-taskbar {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 1px solid #181825;
  border-radius: 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 1px;
  padding-left: 5px;
}

#idle_inhibitor {
  color: #95ffff;
  border-left: 0px;
  border-right: 0px;
  padding-right: 17px;
}

#pulseaudio {
  color: #96d8ff;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #96d8ff;
  border-left: 0px;
  border-right: 0px;
  margin-right: 10px;
}

#network {
  color: #95b1ff;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  color: #95b1ff;
  margin-right: 10px;
} 

#battery {
  color: #a8ff96;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}

#power-profiles-daemon {
  background-color: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0px 10px;
}

#power-profiles-daemon.performance {
  color: #9a7eff;
}

#power-profiles-daemon.balanced {
  color: #9cb6ff;
}

#power-profiles-daemon.power-saver {
  color: #96e1ff;
}

#cpu {
  color: #ca9bff;
  border-left: 0px;
  border-right: 0px;
}

#memory {
  color: #f49dff;
  border-left: 0px;
  border-right: 0px;
}

#temperature {
  color: #fc9bff;
}

#temperature.critical {
  color: #ff5874;
}

#keyboard-state {
  color: #ff9acd;
  border-left: 0px;
  border-right: 0px;
  margin-right: 0px;
  padding-left: 1px;
}

#clock {
  color: #ff9b9b;
  margin-left: 10px;
  border-right: 0px;
}

#custom-power {
  color: #a1d2ff;
  border-radius: 10px;
  margin-right: 10px;
  border-left: 0px;
  padding-right: 1px;
}

#wlr-taskbar {
  background-color: #1e1e2e;
  opacity: 0.8;
  margin-top: 10px;
  padding: 0px 10px;
  border-radius: 10px;
  margin-right: 10px;
}